/* Element Selectors */

body{
  margin: auto;
  background-color: white;
}

nav > ul{
  list-style: none !important;
  margin-top: 0px;
  margin-bottom: 0px;

}
nav{
  position: fixed;
  width: 100%;
  top: 20px;

}
a:hover{
  color: #49EAF4;
}

#about-container{
  margin: auto;
}

/* id selectors */

#home-container{
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}


#profile-pic{
  width: 370px;
  height: 370px;
  border-radius: 50%;
  object-fit: cover;


}

#about{
  color: #49EAF4;
  font-size: 4rem;
  text-align: center;
  top: 100%;


}
.profile > p{
  font-size: 2rem;
  line-height: 2;
  width: 70%;
  float: right;


}
.profile{
  position: relative;
  margin-bottom: 100px;



}
/* class selectors */

.section{

  width: 90%;

  justify-content: center;
  align-items: center;




}
.intro{
  color: white;
  font-size: 2rem;
}
.icons{

  object-fit: contain;
    float: left;
    margin: 35px;

}
.icon-shrink{
  height: 150px;

}
ul{
  list-style: none;


}
.skill-list-two{
  margin-top: 300px;
}
.skills{
  margin-top: 175px;
  clear: both;
}
.twitter-timeline{
  height: 100px;
  width: 100px;
}

#name{
  color: #49EAF4;
  opacity: 0;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

#name.fadein{
  opacity: 1;
}

.nav-link{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 20px 0 20px ;
  float: right;


}
#logo{
  color: white;
  text-decoration: none;
  font-size: 3rem;
  float: left;



}


/* responsiveness */


/* iPads (portrait and landscape) ----------- */



/* Desktops and laptops ----------- */
